.about {
    background-color: lightgray;
    font-family: 'Arial', sans-serif; 
    padding: 20px; 
    max-width: 1500px;
    margin: 0 auto; 
    text-align: center; 
}

.about h2 {
    font-size: 2.5em; 
    color: #333; 
    margin-bottom: 15px;
}

.about p {
    line-height: 1.6;
    font-size: 1.2em;
    color: #555;
}
